  <html>
  <h1>Congratulations you have done ansible</h1>
  <p>You are on host {{ thehostname }}</p>
  <img src= "https://akns-images.eonline.com/eol_images/Entire_Site/201506/rs_500x342-150106140304-tumblr_m2y1rgRLCh1r4etbjo1_r1_500.gif?fit=inside|900:auto&output-quality=90">
  <img src= "https://media1.tenor.com/images/b1196dca2b16992d1a2b595fdf822ae4/tenor.gif?itemid=4746884">
  </html>
