global
   log /dev/log local0
   log /dev/log local1 notice
   stats timeout 30s
   user haproxy
   group haproxy
   daemon

defaults
   log global
   mode http
   option httplog
   option dontlognull
   timeout connect 5000
   timeout client 50000
   timeout server 50000

frontend http_front
   bind *:80
   stats uri /haproxy?stats
   default_backend http_back

backend http_back
   balance roundrobin
   #server RHEL 192.168.1.101:80 check
   #server Debian 192.168.1.102:80 check
   {% for backend in groups['webservers'] %}
      server {{ hostvars[backend].inventory_hostname }} {{ hostvars[backend].ansible_host }}:80 check
   {% endfor %}
